header{
 	margin-left:20%;
 	margin-right:20%;
	text-align: center;
	padding:20px;
}
footer{
	font-size: small;
	text-align: center;
  width: 100%;
}
.mainpane{
	min-height: 400px;
	text-align: center;
	background-color: #00C12B;
	opacity: .4;
}

.seperator{
	height: 8px;
}
