body{
	font-family: helvetica;
}

header{
 	margin-left:20%;
 	margin-right:20%;
	text-align: center;
	padding:20px;
}
footer{
	font-size: small;
	text-align: center;
  width: 100%;
}
.buttons img {
	width: 65px;
	height: 65px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 26px;
}
.mainpane{
	min-height: 800px;
	text-align: center;
	background-color: #FFF;
	
	
}

.seperator{
	height: 8px;
}

.buttons{
	width: 250px;
	height: 305px;
	border: dotted 1px black;
	opacity: 1;
	
}

.buttonContainer{
	display: inline-block;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 10%;
}